<% if @show_user == current_user  %>
    <h2><%= "Welcome to your profile, #{@show_user.full_name}!"%></h2>
<% else %>
 <h2><%= "#{@show_user.username}'s profile" %></h2>
<% end %>

<br><br>

<h3>Favorite Shows</h3>
<% if @show_user.favorite_shows.empty? %>
    <p>- No favorite shows to display! -</p>
<% else %>
    <ol>
    <% @show_user.shows.each do |s| %>
        <% if s.ratings.favorite_shows %>
        <li><%= link_to s.name, show_path(s) %> 
        <br><%= "Rating: #{s.ratings.first.score}" %><br>
        <%= "Review/Comment: #{s.comments.first.content}" %></li>
        <% end %>
    <% end %>
    </ol>
<% end %>
<br>
<% if @show_user == current_user %>
    <%= button_to "All Your Shows", user_shows_path(@show_user), method: :get %>
    <br>
    <%= button_to "Add a New Show", new_user_show_path(@show_user), method: :get %>
<% end %>



<br><br><br>
    <%= button_to "All Shows in Database", shows_path, method: :get %>
<br><br>
    <%= button_to "Back to All Users", users_path, method: :get %>


<br><br><br><br>

<% if @show_user == current_user %>
    <%= button_to "Edit Your Account Info", edit_user_path(@user), method: :get %>
<% end %>