<h2>Welcome to TV Show Tracker</h2>
<p>Keep track of your TV show watchlist!</p>

    <% if flash[:alert] %>
     <%= flash[:alert] %>
    <% end %>


<% if !current_user %>
    <%= button_to "Sign Up", new_user_path, :method => "get" %>
    <br>
    <%= button_to "Log In", login_path, :method => "get" %>
<% else %>
    <%= button_to "Your Shows", user_path(current_user) %>
    <br>
    <%= button_to "Add A New Show", new_user_show_path(current_user)%>
    <br><br>
<% end %>