<% if @rating.errors.any? %>
    <ul>
        <% @rating.errors.full_messages.each do |err| %>
            <li><%= err %></li>
        <% end %>
    </ul>
<% end %>



<%= form_for([@show, @rating], :url => show_ratings_path(@show), method: :post) do |f| %>
    <%= f.hidden_field :show_id %>

    <%= f.label :score, "Please give the show a rating between 0 and 100: " %>
    <%= f.number_field :score, in: 0..100 %>
    <br>
    
    <br>
    <%= f.submit "Rate Show" %>
<% end %>