<% if @show.errors.any? %>
    <ul>
        <% @show.errors.full_messages.each do |err| %>
            <li><%= err %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for(@show) do |f| %>
    
    <%= f.label :name, "Name of Show" %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :genre %>
    <%= f.text_field :genre %>
    <br>
    <%= f.label :episodes, "Total number of episodes"  %>
    <%= f.number_field :episodes%>
    <br>
    <%= f.label :status, "Watching, Watched, or Plan to Watch?" %>
    <%= f.text_field :status %>
    <br><br>
    <%= f.submit "Update Show" %>
<% end %>

<br><br>

<% if !@show.ratings.empty? %>
    <%= form_for([@show, @rating]) do |f| %>
        <%= f.hidden_field :show_id %>

        <%= f.label :score, "Please give the show a rating between 0 and 100: " %>
        <%= f.number_field :score, in: 0..100 %>
        <br>
        
        <br>
        <%= f.submit "Update Rating" %>
    <% end %>
<% end %>

