<% if flash[:title] %>
  <h2><%= flash[:title] %></h2>
<% end %>

<% @shows.each do |s| %>
    <ul>
        <li><%= link_to "#{s.name}", show_path(s) %><br>
        Genre: <%= s.genre%><br>
        <%= s.episodes %> episodes
        <br>
        <% if !s.ratings.empty? %>
            User Rating: <%= s.ratings.first.score %>
        <% end %>
        </li>
    </ul>
<% end %>
<br><br>
<%= button_to "All Users", users_path, method: :get %>
<br><br><br>
<% if logged_in? %>
    <%= button_to "Back to Your Profile", user_path(current_user), method: :get %>
<% end %>